
<form action="/login" method='post'>
  User <input type='text' name='Username'></input><br>
  Password <input type='text' name='Password'></input>
  <br>
  <input type='submit' name='Login'></input>
</form>